@media print {
  /* BASE */
  @page {
    size: A5;
    background-color: #f6f3ea;
  }

  img {
    width: 100%;
  }

  h1,
  h2,
  h3 {
    font-size: 6vw;
    font-weight: 800;
    text-transform: uppercase;
    z-index: -1;
    position: relative;
    //mix-blend-mode: difference;
    transform: rotate(90deg);
    text-align: right;
  }

  p {
    font-weight: 600;
  }

  sup {
    color: #f6f3ea;
    background-color: orange;
    padding: 0.1em;
    margin: 0 0.3em;
    vertical-align: bottom;
  }

  footer {
    display: none;
  }

  a {
    color: inherit;
  }

  video {
    display: none;
  }

  .conclusion {
    display: none;
  }

  .reversefootnote {
    display: none;
  }

  /* LAYOUT */

  .l-web {
    display: none;
  }

  .l-article {
    display: block;
  }

  .l-article div {
    page-break-after: always;
    margin: auto;
    margin-top: 6cm;
    transform: rotate(-45deg);
  }

  .l-article {
    font-size: 1.3em;
    margin: auto;
    max-width: 8cm;
    max-height: 8cm;
    color: #546de5;
  }

  /* STATE */

  a[href^="http"]::after {
    content: "hallo";
    content: " (" attr(href) ")";
    font-size: 1em;
  }

  a:visited {
    color: inherit;
  }
}
