/* BASE */

html {
  font-family: "futura-pt";
  margin: 1em;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 2vw;
}

body {
  background-color: #f6f3ea;
  color: #f6f3ea;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 6vw;
  margin: 0;
}

p {
  line-height: 1.4em;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  display: none;
}

/* LAYOUT */

.l-article {
  display: none;
}

.l-web * {
  margin: 0;
}

.l-web {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 50vw;
  height: 50vw;
  margin: auto;
  transform: rotate(-45deg);
  transition: all 10s;
}

.l-web h1 {
  grid-column: 1/7;
  grid-row-start: 4;
}

.l-web p {
  grid-column: 6;
  grid-row: 5/7;
}

.l-colors {
  writing-mode: vertical-lr;
  grid-column: 3/6;
  grid-row: 1/3;
  display: flex;
}

.l-highlightColors label {
  color: #f6f3ea;
  display: inline-block;
  width: 100em;
}

/* MODULE */

.m-rotate span {
  display: block;
  width: 3vw;
  height: 3vw;
  justify-self: center;
  padding: 1.5vw;
}

.m-command-print {
  width: 1.3em;
  grid-column: 2;
  grid-row: 1/4;
  justify-self: end;
}

.m-highlightColors {
  padding-bottom: 1em;
}

.m-highlightColors label {
  padding: 1em 0;
  max-width: 10em;
}

.m-command-print {
  padding: 0.3em;
  text-transform: uppercase;
  border-right: 0.5vw solid;
  border-left: 0.5vw solid;
  color: inherit;
  font-weight: 700;
  writing-mode: vertical-lr;
  font-size: 2vw;
}

.m-rotate {
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 600;
  font-size: 1.8vw;
}

.m-rotate span {
  /* background-color: inherit; */
  color: #f6f3ea;
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
}

.m-rotate {
  writing-mode: vertical-rl;
  grid-column: 3;
  grid-row: 5;
}

.web p {
  font-size: 1.5em;
  max-height: 10em;
  writing-mode: vertical-rl;
  justify-self: end;
  font-size: 2vw;
}

/* STATE */

.m-rotate:hover ~ .l-web {
  transition: all 10s;
  transform: rotate(35955deg);
}

/* orange */

.F19067:hover {
  background-color: #f19067;
  color: inherit;
}

#base_F19067:checked ~ .l-web.web span {
  background-color: #f19067;
}

#highlight_F19067:checked ~ .l-web.web #highlight,
#base_F19067:checked ~ .l-web.web #base,
#highlight_F19067:checked ~ .l-article #highlight,
#base_F19067:checked ~ .l-article div {
  color: #f19067;
}

/* yellow */

.F5CD79:hover {
  background-color: #f5cd79;
  color: inherit;
}

#base_F5CD79:checked ~ .l-web.web span {
  background-color: #f5cd79;
}

#highlight_F5CD79:checked ~ .l-web.web #highlight,
#base_F5CD79:checked ~ .l-web.web #base,
#highlight_F5CD79:checked ~ .l-article #highlight,
#base_F5CD79:checked ~ .l-article div {
  color: #f5cd79;
}

/* pink */

.F78FB3:hover {
  background-color: #f78fb3;
  color: inherit;
}

#base_F78FB3:checked ~ .l-web.web span {
  background-color: #f78fb3;
}

#highlight_F78FB3:checked ~ .l-web.web #highlight,
#base_F78FB3:checked ~ .l-web.web #base,
#highlight_F78FB3:checked ~ .l-article #highlight,
#base_F78FB3:checked ~ .l-article div {
  color: #f78fb3;
}

/* light red */

.E66767:hover {
  background-color: #e66767;
  color: inherit;
}

#base_E66767:checked ~ .l-web.web span {
  background-color: #e66767;
}

#highlight_E66767:checked ~ .l-web.web #highlight,
#base_E66767:checked ~ .l-web.web #base,
#highlight_E66767:checked ~ .l-article #highlight,
#base_E66767:checked ~ .l-article div {
  color: #e66767;
}

/* dark pink */

.C44569:hover {
  background-color: #c44569;
  color: inherit;
}

#base_C44569:checked ~ .l-web.web span {
  background-color: #c44569;
}

#highlight_C44569:checked ~ .l-web.web #highlight,
#base_C44569:checked ~ .l-web.web #base,
#highlight_C44569:checked ~ .l-article #highlight,
#base_C44569:checked ~ .l-article div {
  color: #c44569;
}

/* purple */

._574B90:hover {
  background-color: #574b90;
  color: inherit;
}

#base_574B90:checked ~ .l-web.web span {
  background-color: #574b90;
}

#highlight_574B90:checked ~ .l-web.web #highlight,
#base_574B90:checked ~ .l-web.web #base,
#highlight_574B90:checked ~ .l-article #highlight,
#base_574B90:checked ~ .l-article div {
  color: #574b90;
}
/* dark blue */

._303952:hover {
  background-color: #303952;
  color: inherit;
}

#base_303952:checked ~ .l-web.web span {
  background-color: #303952;
}

#highlight_303952:checked ~ .l-web.web #highlight,
#base_303952:checked ~ .l-web.web #base,
#highlight_303952:checked ~ .l-article #highlight,
#base_303952:checked ~ .l-article div {
  color: #303952;
}

/* light blue */

._3DC1D3:hover {
  background-color: #3dc1d3;
  color: inherit;
}
#base_3DC1D3:checked ~ .l-web.web span {
  background-color: #3dc1d3;
}

#highlight_3DC1D3:checked ~ .l-web.web #highlight,
#base_3DC1D3:checked ~ .l-web.web #base,
#highlight_3DC1D3:checked ~ .l-article #highlight,
#base_3DC1D3:checked ~ .l-article div {
  color: #3dc1d3;
}

/* lila */

._546DE5:hover {
  background-color: #546de5;
  color: inherit;
}

#base_546DE5:checked ~ .l-web.web span {
  background-color: #546de5;
}

#highlight_546DE5:checked ~ .l-web.web #highlight,
#base_546DE5:checked ~ .l-web.web #base,
#highlight_546DE5:checked ~ .l-article #highlight,
#base_546DE5:checked ~ .l-article div {
  color: #546de5;
}

/* THEME */

/* orange */
.F19067 {
  color: #f19067;
}

/* yellow */
.F5CD79 {
  color: #f5cd79;
}

/* pink */
.F78FB3 {
  color: #f78fb3;
}

/* light red */
.E66767 {
  color: #e66767;
}

/* dark pink */
.C44569 {
  color: #c44569;
}

/* purple */
._574B90 {
  color: #574b90;
}

/* dark blue */
._303952 {
  color: #303952;
}

/* light blue */
._3DC1D3 {
  color: #3dc1d3;
}

/* lila */
._546DE5 {
  color: #546de5;
}
